.registrationForm {
    width: 300px;
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.05);
    background-color: white;
    border-radius: 10px;
    margin: 200px auto;
    min-height: 350px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.input{
    /*display: block;*/
}
.login {

}

.password {

}

.repeatPassword {

}